NUXT_APP_ADMIN=admin:admin
NUXT_APP_USER=user:user
NUXT_DATABASE_URL=./local.db
NUXT_MS_CLIENT_ID=<your-azure-app-client-id>
NUXT_MS_CLIENT_SECRET=<your-azure-app-client-secret>
NUXT_MS_TENANT_ID=<your-azure-tenant-id>
